@font-face {
    font-family: "Cuprum";
    src: url("../fonts/cuprum.woff"),
         url("../fonts/cuprum.woff2");
}

@font-face {
    font-family: "CuprumBold";
    src: url("../fonts/cuprumbold.woff"),
         url("../fonts/cuprumbold.woff2");
}

@font-face {
    font-family: "CuprumBoldItalic";
    src: url("../fonts/cuprumbolditalic.woff"),
         url("../fonts/cuprumbolditalic.woff2");
}

@font-face {
    font-family: "CuprumItalic";
    src: url("../fonts/cuprumitalic.woff"),
         url("../fonts/cuprumitalic.woff2");
}

@font-face {
    font-family: "Ptsans";
    src: url("../fonts/ptsans.woff"),
         url("../fonts/ptsans.woff2");
}

@font-face {
    font-family: "PtsansBold";
    src: url("../fonts/ptsansbold.woff"),
         url("../fonts/ptsansbold.woff2");
}

/*body*/

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: Cuprum, Arial, sans-serif;
}

a {
    text-decoration: none;
}

/*header*/
.button {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #ee3643;
    color: #ffffff;
    border-radius: 3px;
}

.button:hover {
    background-color: #ca2c37;
}

.button:active {
    background-color: #ba2732;
}

.container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;

}

.main-header {
    background-color: #f3f7f8;
    width: 100%;
    margin-bottom: 59px;
}

.top-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #293449;
    margin-bottom: 46px;
}

.top-menu__wrapper {
    background-color: #293449;
}

.main-header .container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}

.top-menu__logo__header {
    margin: 0;

    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: normal;
    background-color: #ee3643;
    width: 220px;
    text-align: center;
    position: absolute;
    top: 0;
    padding-top: 10px;
    padding-bottom: 8px;
    -webkit-box-shadow: 0 5px 0 0 #b52933;
            box-shadow: 0 5px 0 0 #b52933;
}

.top-menu__logo__header:hover {
    background-color: #ca2c37;
}

.top-menu__logo__header:active {
    background-color: #ba2732;
}

.top-menu a {
    color: #ffffff;
    font-size: 17px;
    line-height: 18px;
    padding-top: 11px;
    padding-bottom: 13px;

}

/*------------------------------------------------------------------*/

.top-menu__search {
    margin-left: 220px;
    width: 270px;
}


.top-menu__search input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #293449;
    border: none;
    width: 100%;
    padding-left: 49px;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
    background-image: url("../img/svg/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 17px;
    color: #ffffff;
}

.top-menu__search input:hover {
    background-image: url("../img/svg/icon-search-white.svg");
    background-repeat: no-repeat;
    background-position: 17px;
    background-color: #212a3a;
}

.top-menu__search input:focus {
    background-color: #ffffff;
    background-image: url("../img/svg/icon-search-red.svg");
    background-repeat: no-repeat;
    background-position: 17px;
    color: black;
}

.top-menu__search input::-webkit-input-placeholder {
    font-family: Cuprum, Arial, sans-serif;
    color: #ffffff;
    font-size: 17px;
    line-height: 18px;
}
.top-menu__search input:-moz-placeholder {
    font-family: Cuprum, Arial, sans-serif;
    color: #ffffff;
    font-size: 17px;
    line-height: 18px;
}
.top-menu__search input:-ms-input-placeholder {
    font-family: Cuprum, Arial, sans-serif;
    color: #ffffff;
    font-size: 17px;
    line-height: 18px;
}


/*-------------------------------------------------------------*/

.top-menu__bookmarks__link {
    width: 150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    padding-left: 44px;
    opacity: 1;
}

.top-menu__bookmarks__link:hover {
    background-color: #212a3a;
}

.top-menu__bookmarks__link:active {
   opacity: 0.6;
}

.top-menu__bookmarks__link::before {
    content: "";
    width: 14px;
    height: 16px;
    position: absolute;
    left: 17px;
    background-image: url("../img/svg/icon-bookmark.svg");
    background-repeat: no-repeat;
    opacity: 0.3;
}

.top-menu__bookmarks__link:hover::before {
    opacity: 1;
}

.top-menu__bookmarks__link:active::before {
    opacity: 0.5;
}
/*----------------------------------------------------------------*/
.top-menu__cart__link {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 50px;
    width: 150px;
    position: relative;
    opacity: 1;
}

.top-menu__cart__link:hover {
    background-color: #212a3a;
}

.top-menu__cart__link:active {
    opacity: 0.6;
}

.top-menu__cart__link::before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    left: 18px;
    background-image: url("../img/svg/icon-cart.svg");
    background-repeat: no-repeat;
    opacity: 0.3;
}

.top-menu__cart__link:hover::before {
    opacity: 1;
}

.top-menu__cart__link:active::before {
    opacity: 0.5;
}
/*--------------------------------------------------------------*/

.top-menu__order__link {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    width: 150px;
    background-color: #63a63e;
}

.top-menu__order__link:hover {
    background-color: #5fbb2d;
}

.top-menu__order__link:active {
    background-color: #518534;
}

/*------------------------------------------------------*/


.main-header__contacts {
    background-color: #f3f7f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main-header__contacts__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main-header__contacts__description {
    font-family: CuprumBoldItalic, Arial, sans-serif;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
    width: 210px;
    margin: 0 70px 0 50px;
}

.contacts-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.main-header__contacts__tel {
    font-family: Cuprum, Arial, sans-serif;
    color: #ee3643;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 8px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    width: 270px;
    border: 2px solid #ffffff;
    background-image: url("../img/svg/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 13px;
}

.main-header__contacts__address {
    font-family: CuprumBold, Arial, sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: #293449;
    padding-top: 3px;
}

.user-navigation {
    margin-left: auto;
}

.user-navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    width: 280px;
    list-style: none;
}

.user-navigation__list a {
    color: #000000;
    font-size: 21px;
    line-height: 21px;
    background-color: #ffffff;
}

.user-navigation__login__link {
    display: block;
    padding: 10px 27px 10px 48px;
    margin-right: 10px;
    position: relative;
}


.user-navigation__login__link:hover {
    color: #ee3643;
}

.user-navigation__login__link:active {
    color: #c5c5c5;
}

.user-navigation__login__link::before {
    content: "";
    position: absolute;
    background-image: url("../img/svg/icon-login.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 17px;
    left: 14px;
    top: 12px;
}

.user-navigation__login__link:hover::before {
    background-image: url("../img/svg/icon-login-hover.svg");
}

.user-navigation__login__link:hover:active::before {
    opacity: 0.3;
}

.user-navigation__registration__link {
    display: block;
    padding: 10px 22px 10px 25px;
}

.user-navigation__registration__link:hover {
    color: #ee3643;
}

.user-navigation__registration__link:active {
    color: #c5c5c5;
}

.navigation {
    padding-bottom: 60px;
    margin-top: 40px;
}

.main__navigation {
    background-color: #32425c;
    width: 940px;
    -webkit-box-shadow: 0 5px 0 0 #293449;
            box-shadow: 0 5px 0 0 #293449;
}

.main__navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}


.main__navigation__link {
    display: block;
    padding: 20px 30px 20px 30px;
    color: #ffffff;
    font-size: 17px;
    line-height: 17px;
}

.main__navigation__link:hover {
    background-color: #293449;
}

.main__navigation__link:active {
    background-color: #1d2739;
}



/*Main*/
.promo-block {
    margin-bottom: 50px;
}

.promo-block__item {
    width: 300px;
    height: 123px;
    position: relative;
}


.promo-block__item--materials {
    background-color: #ffbf47;
}

.promo-block__item--materials::before {
    content: "";
    position: absolute;
    background-image: url("../img/svg/icon-1.svg");
    background-repeat: no-repeat;
    width: 44px;
    height: 65px;
    right: 43px;
    top: 31px;
}

.promo-block__item--instruments {
    background-color: #3bbce3;
}

.promo-block__item--instruments::before {
    content: "";
    position: absolute;
    background-image: url("../img/svg/icon-2.svg");
    background-repeat: no-repeat;
    width: 75px;
    height: 61px;
    right: 28px;
    top: 33px;
}

.promo-block__item--technique {
    background-color: #dc91d8;
}

.promo-block__item--technique::before {
    content: "";
    position: absolute;
    background-image: url("../img/svg/icon-3.svg");
    background-repeat: no-repeat;
    width: 80px;
    height: 62px;
    right: 31px;
    top: 31px;
}

.promo-block__item--sale {
    background-color: #8ed78f;
}

.promo-block__item--sale::before {
    content: "";
    position: absolute;
    background-image: url("../img/svg/icon-4.svg");
    background-repeat: no-repeat;
    width: 60px;
    height: 72px;
    right: 45px;
    top: 26px;
}

.promo-block__item--delivery {
    background-color: #ffc047;
}

.promo-block__item--delivery::before {
    content: "";
    position: absolute;
    background-image: url("../img/svg/icon-5.svg");
    background-repeat: no-repeat;
    width: 78px;
    height: 63px;
    right: 31px;
    top: 32px;
}

.item-new-img {
    position: absolute;
    right: 0;
    top: 0;
}

.promo-block__item:last-child {
    margin-bottom: 0;
}

.promo-block__header {
    font-family: CuprumBold, Arial, sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    margin: 0;
    padding-left: 23px;
    padding-top: 22px;
}

.promo-block__link {
    display: block;
    font-size: 14px;
    line-height:  18px;
    color: #ffffff;
    text-transform: uppercase;
    width: 111px;
    margin-left: 25px;
    padding-left: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 13px;
    border-radius: 3px;
    background: rgba(0,0,0,.1);
}

.promo-block__link:hover {
    background: rgba(0,0,0,.2);
}

.promo-block__link:active {
    background: rgba(0,0,0,.3);
}


.promo-block__top-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.promo-block__top-column .promo-block__item {
    margin-bottom: 20px;
}

.promo-block__bottom-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.promo-block__bottom-column .promo-block__item {
    margin-bottom: 20px;
}

.promo-block__bottom-column .promo-block__item:last-child {
    margin-bottom: 0;
}

.promo-block__bottom-column__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
/*---------------------------------------------------------*/

.promo-block__slider__list {
    margin: 0;
    padding: 0;

    list-style: none;
    width: 620px;
    height: 266px;
    position: relative;
}

.promo-block__slider__item {
    position: absolute;
    width: 620px;
    height: 266px;
    z-index: 2;
}

.promo-block__slider__item--2 {
    z-index: 1;
}

.promo-block__slider__img {
    position: absolute;
    width: 620px;
    height: 266px;
    top: 0;
    left: 0;
    z-index: -1;
}


.promo-block__slider__header {
    position: absolute;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: CuprumBold, Arial, sans-serif;
    font-size: 36px;
    line-height: 36px;
    color: #ffffff;
    text-transform: uppercase;
    width: 100%;
    top: -36px;
    left: 0;
    padding-top: 21px;
    padding-bottom: 42px;
    padding-left: 24px;
    background-color: rgba(0,0,0,.25);
}

.promo-block__slider__description {
    position: absolute;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    top: 40px;
    left: 25px;
}

.promo-block__slider__catalog-open {
    display: inline-block;
    padding: 11px 45px 10px;
    margin-top: 206px;
    margin-left: 25px;
}

.promo-block__slider__button {
    border: none;
    background-color: transparent;
}

.promo-block__slider__button--next {
    content: "";
    width: 22px;
    height: 40px;
    background-image: url("../img/svg/icon-right.svg");
    background-repeat: no-repeat;
    position: absolute;
    right: 25px;
    top: 114px;
}

.promo-block__slider__button--back {
    content: "";
    width: 22px;
    height: 40px;
    background-image: url("../img/svg/icon-left.svg");
    background-repeat: no-repeat;
    position: absolute;
    left: 25px;
    top: 114px;
}

/*-----------------------------------------------------------*/
.product-populars__header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f9f5f0;
    margin-bottom: 20px;
}

.product-populars__header {
    margin: 0;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;
    font-weight: normal;
    padding-left: 25px;
    padding-top: 28px;
    padding-bottom: 27px;
}

.product-populars__all__link {
    padding: 11px 55px 10px;
    margin-left: 373px;
}


.product-populars__picture,
.catalog__products__picture {
    width: 210px;
    height: 150px;
}

.product-populars__list,
.catalog__products__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.product-populars__item,
.catalog__products__item {
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 220px;
    margin-bottom: 20px;
    margin-right: 20px;
    border: 1px solid #eaeaea;

}

.product-populars__item:hover,
.catalog__products__item:hover{
    -webkit-box-shadow: 0 0 20px 1px #aaafb7;
            box-shadow: 0 0 20px 1px #aaafb7;
}

.product-populars__new,
.catalog__products__new{
    margin: 0;
    position: absolute;
    background-image: url("../img/new.png");
    background-repeat: no-repeat;
    width: 60px;
    height: 59px;
    top: 0;
    right: -1px;
    z-index: 100;
}

.product-populars__item:nth-child(4n){
  margin-right: 0;
}

.product-populars__name,
.catalog__products__header {
    font-family: PtsansBold, Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    margin: 30px 0 10px;
}

.product-populars__sale,
.catalog__products__sale{
    margin: 0;
    font-family: PtsansBold, Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    text-decoration: line-through;
    color: #a9a9a9;
    text-align: center;
}

.product-populars__price,
.catalog__products__price{
    font-family: PtsansBold, Arial, sans-serif;
    position: relative;
    width: 80px;
    margin: 10px auto 20px;
    padding: 10px 30px;
    color: #ffffff;
    background-color: #ee3643;
    border-radius: 3px;
    text-align: center;
}

.product-populars__price::before,
.catalog__products__price::before{
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border: 19px solid #ffffff;
    border-left-color: #ee3643;
}

.actions {
    top: 0;
    left: 0;
    width: 218px;
    height: 88px;
    position: absolute;
    padding: 40px 0;
    background-color: rgba(255,255,255,1);
    z-index: 10;
    display: block;
}

.product-populars__item .actions,
.catalog__products__item .actions{
    display: none;
}

.product-populars__item:hover .actions,
.catalog__products__item:hover .actions{
    display: block;
}

.product-populars__buy,
.catalog__products__buy {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding-top: 11px;
    padding-bottom: 7px;
    width: 135px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 3px;
    background-color: #63a63e;
    margin: 0 auto;
    color: #ffffff;
    -webkit-box-shadow: 0 3px 0 0 #367315;
            box-shadow: 0 3px 0 0 #367315;
    position: relative;
}

.product-populars__buy:before,
.catalog__products__buy:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url("../img/svg/icon-cart.svg");
    background-repeat: no-repeat;
    left: 12px;
    top: 11px;
    opacity: 0.3;
}

.product-populars__buy:hover,
.catalog__products__buy:hover {
    background-color: #5fbb2d;
}

.product-populars__buy:hover::before,
.catalog__products__buy:hover::before {
    opacity: 1;
}

.product-populars__buy:active,
.catalog__products__buy:active {
    background-color: #518534;
}

.product-populars__buy:active::before,
.catalog__products__buy:active::before {
    opacity: 1;
}

.product-populars__marker,
.catalog__products__marker{
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding-top: 11px;
    padding-bottom: 7px;
    width: 135px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 3px solid #63a63e;
    border-radius: 3px;
    margin: 7px auto 0;
    color: #32425c;
}

.product-populars__marker:hover,
.catalog__products__marker:hover {
    border: 3px solid #32425c;
}

.product-populars__marker:active,
.catalog__products__marker:active {
    border: 3px solid #c1c6ce;
    color: #c1c6ce;
}

/*------------------------------*/

.brand-populars__header__wrapper {
    background-color: #f9f5f0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #32425c;
    font-weight: normal;
}

.brand-populars__header {
    margin: 0;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;
    font-weight: normal;
    padding-left: 25px;
    padding-top: 28px;
    padding-bottom: 27px;

}

.brand-populars__all {
    padding: 11px 70px 10px;
    margin-left: 270px;
}

.brand-populars__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.brand-populars__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 220px;
    height: 145px;
    border: 1px solid #e5e5e5;
    margin-right: 20px;
    margin-bottom: 20px;
}

.brand-populars__item:hover {
    -webkit-box-shadow: 0 5px 20px 1px #a9adb5;
            box-shadow: 0 5px 20px 1px #a9adb5;
}

.brand-populars__item:active {
    opacity: 0.3;
}

.brand-populars__item:nth-child(4n) {
    margin-right: 0;
}


/*----------------------------------------------------------*/

.service {
    background-color: #f5f8fa;
    margin-top: 66px;
    padding-bottom: 100px;
}

.service__wrapper {
    padding-top: 40px;
}

.service__header {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
}

.service__description {
    margin: 0;
    width: 400px;
    font-family: PtsansBold, Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    padding-bottom: 76px;
}

.service__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.service__slider__list {
    list-style: none;
    margin: 0;
    padding: 0;
    min-height: 184px;
    position: relative;
}

input[type=radio]:checked + .service__slider__toggle {
    background-color: #ffffff;
    color: #32425c;
}

.service__slider__toggle {
    font-family: CuprumBold, Arial, sans-serif;
    font-size: 21px;
    line-height: 23px;
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 60px;
    background-color: #32425c;
    color: #ffffff;
    padding-left: 23px;
    padding-top: 19px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
}

.service__slider__toggle:hover {
    background-color: #293449;
}

.service__slider__toggle--warranty {
    position: absolute;
    top: 60px;
    border-top: 1px solid #4d637b;
    border-bottom: 1px solid #4d637b;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.service__slider__toggle--credit {
    top: 120px;
}

.service__slider__item {
    display: none;
    margin-left: 320px;
}

.service__slider__description__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 380px;
}

.service__slider__header {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 35px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
    color: #32425c;
    margin: 0 0 30px;
}

.service__slider__description {
    margin: 0;
    font-family: PtsansBold, Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.service__slider__img--delivery {
    margin-left: 30px;
    margin-top: 20px;
}

.service__slider__img--warranty {
    margin-left: 80px;
}

.service__slider__img--credit {
    margin-left: 69px;
}

.take-credit {
    width: 195px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 11px;
    margin-top: 34px;
}

#btn-1:checked ~ .service__slider__item--1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#btn-2:checked ~ .service__slider__item--2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#btn-3:checked ~ .service__slider__item--3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/*----------------------------------------------------------*/

.company-info__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 83px;
}

.modal__map {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -470px;
    margin-top: -223px;
    z-index: 100;
    display: none;
}

.modal__map__show {
    display: block;
}

.big-map {
    -webkit-box-shadow: 0 0 12px 6px #c8c6c6;
            box-shadow: 0 0 12px 6px #c8c6c6;
}




.company-info {
    position: relative;
    width: 540px;
    margin-right: 100px;
}

.company-info__header {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 0 30px;
}

.company-info__description {
    font-family: PtsansBold, Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: bold;
    margin: 0 0 30px;
}

.company-info__delivery__description {
    font-family: PtsansBold, Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: bold;
    margin: 0 0 25px;
}

.company-info__delivery__list {
    padding: 0;
    list-style: none;
    margin: 0 0 38px;
}

.company-info-delivery__item {
    font-family: CuprumBold, Arial, sans-serif;
    font-size: 18px;
    line-height: 40px;
    padding-left: 36px;
    position: relative;
}

.company-info-delivery__item:before {
    content: "";
    width: 25px;
    height: 2px;
    background-color: #ee3643;
    background-repeat: no-repeat;
    position: absolute;
    top: 18px;
    left: 0;
}

.company-info__more {
    position: absolute;
    padding: 11px 40px 9px;
    bottom: 0;
    left: 0;
}

.contacts-company {
    width: 300px;
}

.contacts-company__header {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 0 30px;
}

.contacts-company__description {
    font-family: PtsansBold, Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    margin: 0 0 45px;
}

.contacts-company__map-img {
    width: 300px;
    height: 158px;
    margin-bottom: 50px;
    cursor: pointer;
}

.contacts-company__write-us {
    display: block;
    width: 100%;
    padding-top: 11px;
    padding-bottom: 9px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
}

/*------------------------------------------footer-------------------------------------------------*/

.main-footer__top {
    background-color: #32425c;
    margin-top: 65px;
}

.main-footer__top__catalog {
    margin-top: 0;
}

.top-footer-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.top-footer-column__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.main-footer__logo {
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: normal;
    background-color: #ee3643;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 220px;
    height: 63px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 0 5px 0 0 #b52933;
            box-shadow: 0 5px 0 0 #b52933;
    margin-bottom: 35px;
}


.main-footer__contacts {
    margin-right: 65px;
}

.main-footer__contacts__address {
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.main-footer__contacts__tel {
    display: block;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 46px;
}

.main-footer__navigation {
    width: 100%;
}

.top-footer-column__right {
    width: 550px;
}

.main-footer__navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    list-style: none;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 39px 0 0 3px;
}

.main-footer__navigation__link {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.main-footer__navigation__link:hover {
    text-decoration: underline;
}

.main-footer__navigation__link:active {
    opacity: 0.5;
    text-decoration: none;
}

.main-footer__navigation-special {
    width: 100%;
}



.main-footer__navigation-special__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    list-style: none;
    padding: 38px 0 0 25px;
}

.main-footer__navigation-special__link {
     font-size: 18px;
     line-height: 24px;
     color: #ffd180;
 }

.main-footer__navigation-special__link:hover {
    text-decoration: underline;
}

.main-footer__navigation-special__link:active {
    opacity: 0.5;
    text-decoration: none;
}

.main-footer__bottom {
    background-color: #293449;
}

.bottom-footer-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 108px;
}

.main-footer-bottom__copyright {
    color: #ffffff;
    width: 230px;
    margin: 0 160px 0 0;
}

.main-footer-bottom__social__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 133px;
}


.main-footer-bottom__social__link {
    display: block;
    height: 42px;
    width: 42px;
    background-color: #212a3a;
    border-radius: 50%;
}

.main-footer-bottom__social__link:hover,
.main-footer-bottom__social__link:active {
    background-color: #ee3643;
}

.main-footer-bottom__social--vkontakte {
    background-image: url("../img/svg/icon-vk.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.main-footer-bottom__social--facebook {
    background-image: url("../img/svg/icon-fb.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.main-footer-bottom__social--instagram {
    background-image: url("../img/svg/icon-insta.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.main-footer-bottom__contacts-link {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main-footer-bottom__contacts-link p {
    color: #ffffff;
    margin: 0;
    width: 140px;
}

.main-footer-bottom__contacts-link p:nth-child(2) {
    width: 96px;
    padding-right: 15px;
}

.main-footer-bottom__contacts-link p:nth-child(1) {
    margin-right: 48px;
}

.main-footer-bottom__contacts-link a {
    color: #ffd180
}

.main-footer-bottom__contacts-link a:hover {
    text-decoration: underline;
}

.main-footer-bottom__contacts-link a:active {
    color: #ee3643;
    text-decoration: none;
}
/*catalog*/

.user__logged-in {
    width: 300px;
    margin-left: 60px;
}

.user__logged-in__top-wrapper {
    width: 100%;
    background-color: #ffffff;
    height: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}

.user__logged-in__name {
    font-size: 21px;
    line-height: 21px;
    color: black;
    padding-left: 48px;
    position: relative;
}

.user__logged-in__name::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    background-image: url("../img/svg/icon-user.svg");
    background-repeat: no-repeat;
    left: 13px;
    top: 1px;
}

.user__logged-in__out {
    position: absolute;
    width: 20px;
    height: 17px;
    background-image: url("../img/svg/icon-logout.svg");
    background-repeat: no-repeat;
    right: 10px;
}



.user__logged-in__bottom-wrapper {
    margin-top: 5px;
    padding-left: 18px;
}

.user__logged-in__my-order {
    color: #32425c;
    text-decoration: underline;
    padding-right: 32px;
    position: relative;
}

.user__logged-in__my-order::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    background-color: #32425c;
    border-radius: 50%;
    left: 89px;
    top: 7px;
}

.user__logged-in__my-cabinet {
    color: #32425c;
    text-decoration: underline;
}

/*------------------------------catalog-------------------------------------*/

.breadcrumbs__list {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    margin: 0 0 22px;
}

.breadcrumbs__item {
    padding-right: 40px;
    position: relative;
}

.breadcrumbs__item:not(:first-child)::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 12px;
    background-image: url("../img/svg/icon-right-small.svg");
    background-repeat: no-repeat;
    left: -24px;
    top: 3px;
}

.breadcrumbs__item:first-child {
    padding-left: 15px;
    position: relative;
}

.breadcrumbs__link--home {
    content: "";
    position: absolute;
    background-image: url("../img/svg/icon-home.svg");
    background-repeat: no-repeat;
    width: 14px;
    height: 12px;
    left: 0;
    top: 2px;
}

.breadcrumbs__item:last-child {
    padding-right: 0;
}

.breadcrumbs__link {
    font-family: Ptsans, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: black;
}

.catalog__header {
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    width: 100%;
    color: #32425c;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 30px;
    background-color: #f2f6f8;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 0 20px;
}

.products-filter {
    width: 220px;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.products-filter__form__header {
    font-family: Ptsans, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    width: 100%;
    padding-left: 18px;
    padding-bottom: 12px;
    padding-top: 12px;
    background-color: #f7f3ec;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 0 18px;
}

.products-filter__header,
.products-filter__header__price {
    font-family: PtsansBold, Arial, sans-serif;
    font-size: 17px;
    line-height: 30px;
    color: black;
    text-transform: uppercase;
    margin-left: 0;
    margin-bottom: 20px;
}

.products-filter__range {
    width: 100%;
    height: 80px;
    background-color: #f7f3ec;
    border-radius: 3px;
    margin-bottom: 9px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
}

.bar {
    width: 70%;
    height: 2px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #00ca74;
}

.scale {
    height: 2px;
    background-color: #d7dcde;
}

.toggle {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #ababab;
    border: 8px solid #ffffff;
    -webkit-box-shadow: 0 2px 1px 0 #e0ddd8;
            box-shadow: 0 2px 1px 0 #e0ddd8;
    position: absolute;
    top: 30px;
    left: 20px;
    cursor: pointer;
}

.toggle--max {
    left: 130px;
}

.products-filter__controls label {
    font-size: 0;

}

.products-filter__controls__min-price {
    margin-right: 30px;
}

.products-filter__controls input {
    font-family: Ptsans, Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    width: 95px;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: none;
    background-color: #f7f3ec;
    border-radius: 5px;
    padding: 9px 5px 10px;
    margin-bottom: 25px;
}

.products-filter__brands,
.products-filter__type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.products-filter__brands__name,
.products-filter__type__name {
    font-family: Ptsans, Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    position: relative;
    color: black;
    padding-left: 35px;
    margin-bottom: 24px;
}

.products-filter__brands input {
    display: none;
}

.products-filter__brands input ~ .products-filter__brands__name::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    left: 0;
    top: -2px;
    background-image: url("../img/svg/checkbox-off.svg");
    background-repeat: no-repeat;
}

.products-filter__brands input:checked + .products-filter__brands__name::before {
    width: 26px;
    height: 23px;
    background-image: url("../img/svg/checkbox-on.svg");
}

.products-filter__type input {
    display: none;
}

.products-filter__type input ~ .products-filter__type__name::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0;
    top: -2px;
    background-image: url("../img/svg/radio-off.svg");
    background-repeat: no-repeat;
}

.products-filter__type input:checked + .products-filter__type__name::before {
    background-image: url("../img/svg/radio-on.svg");
}

.products-filter__brands,
.products-filter__price {
    border-bottom: 1px solid #e5e5e5;
}

.products-filter__button {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    width: 100%;
    padding-top: 11px;
    padding-bottom: 9px;
    text-align: center;
    margin-top: 30px;
}


.catalog__sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 700px;
    background-color: #f7f3ec;
    margin-bottom: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}

.catalog__sorting__link {
    font-family: Ptsans, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    opacity: 0.3;
    cursor: pointer;
}

.catalog__sorting__link--current {
    opacity: 1;
    color: #ee3643;
}


.catalog__sorting__link:hover {
    opacity: 1;
    color: black;
}

.catalog__sorting__link--current:hover {
    opacity: 1;
    color: #ee3643;
}

.catalog__sorting__link--price {
    padding-right: 72px;
}

.catalog__sorting__link--type {
    padding-right: 65px;
}

.catalog__sorting__link--functional {
    padding-right: 45px;
}

.catalog__sorting__header {
    font-family: Ptsans, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    text-transform: uppercase;
    padding: 12px 140px 12px 19px;
}

.products-filter__header {
    padding-top: 22px;
}

.catalog__sorting__switch {
    font-size: 0;
    cursor: pointer;
}

.catalog__sorting__switch__down {
    position: absolute;
    width: 11px;
    height: 10px;
    background-image: url("../img/svg/icon-down-dir.svg");
    background-repeat: no-repeat;
    right: 17px;
    top: 14px;
}

.catalog__sorting__switch__down:hover {
    background-image: url("../img/svg/icon-down-dir--black.svg");
}

.catalog__sorting__switch__up {
    position: absolute;
    width: 11px;
    height: 10px;
    background-image: url("../img/svg/icon-up-dir.svg");
    background-repeat: no-repeat;
    right: 49px;
    top: 14px;
}

.catalog__sorting__switch__up:hover {
    background-image: url("../img/svg/icon-up-dir--black.svg");
}


.catalog__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.catalog__products {
    width: 700px;
}


.catalog__pagination__list {
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 52px 0 60px;
}

.catalog__pagination__link {
    font-family: Ptsans, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: black;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    padding: 12px 16px;
    border-radius: 3px;
    margin-right: 10px;
    text-transform: uppercase;
}

.catalog__pagination__link:active {
    border: 1px solid #ee3643;
}

.catalog__pagination__link--current {
    font-family: Ptsans, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #ffffff;
    background-color: #ee3643;
    border: none;
}

.catalog__pagination__link--next {
    padding-left: 31px;
    padding-right: 31px;
}

.catalog__products__item:nth-child(3n){
    margin-right: 0;
}

.product-description {
    background-color: #f2f6f8;
    margin-bottom: 0;
}

.product-description__header {
    margin: 0;
    font-family: Ptsans, Arial, sans-serif;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    padding-top: 60px;
    padding-bottom: 30px;
    font-weight: normal;
}

.product-description__text {
    margin: 0;
    font-family: Ptsans, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: bold;
    padding-bottom: 70px;
}


/*-----------------------------------------------------*/
.modal__write-us {
    width: 620px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 44px 80px 0;
    border-top: 7px solid #ff5357;
    -webkit-box-shadow: 0 20px 37px 1px #a2a2a2;
            box-shadow: 0 20px 37px 1px #a2a2a2;
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: #ffffff;
    margin-left: -310px;
    margin-top: -183px;
    z-index: 100;
    display: none;
}

.modal__write-us__show {
    display: block;
}

.modal__form__write-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.modal__form__write-us p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.modal__form__write-us label {
   font-size: 18px;
    line-height: 18px;
    color: black;
    margin-bottom: 8px;
}

.name-user {
    width: 220px;
    margin: 0 20px 0 0;
}

.email-user {
    width: 220px;
    margin: 0;
}

.name-user input,
.email-user input{
    width: 100%;
    padding-left: 13px;
    padding-top: 9px;
    padding-bottom: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 2px solid #dee3e4;
    font: inherit;
}

.text-user {
    width: 100%;
    height: 114px;
    margin: 0;
    padding-top: 19px;
}

.modal__write-us__button {
    margin: 37px 0;
    width: 100%;
}

.text-user textarea {
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 2px solid #dee3e4;
    padding-left: 13px;
    padding-top: 9px;
    font: inherit;
    resize: none;
}

.modal__write-us__button button {
    padding-top: 11px;
    padding-bottom: 9px;
    border: none;
}

.modal__write-us__close {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 9px;
    right: 9px;
    font-size: 0;
    cursor: pointer;
    width: 22px;
    height: 22px;
}

.modal__write-us__close::after {
    content: "";
    width: 26px;
    height: 3px;
    background-color: #ee3643;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
    top: 9px;
    right: 0;
}

.modal__write-us__close::before {
    content: "";
    width: 26px;
    height: 3px;
    background-color: #ee3643;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    position: absolute;
    right: 0;
    top: 9px;
}

.modal-cart {
    width: 620px;
    background-color: #ffffff;
    border-top: 7px solid #ee3643;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -310px;
    margin-top: -140px;
    z-index: 1000;
    -webkit-box-shadow: 0 40px 40px 1px #747b89;
            box-shadow: 0 40px 40px 1px #747b89;
    display: none;
}

.modal-cart__show {
    display: block;
}

.modal-cart__header {
    margin: 0;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: normal;
    padding-top: 64px;
    padding-bottom: 70px;
    position: relative;
}

.modal-cart__header::before {
    content: url("../img/ok.png");
    position: absolute;
    width: 66px;
    height: 66px;
    left: 80px;
    top: 47px;
}

.modal-cart__bottom-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background-color: #f1f1f1;
    padding: 37px 80px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.modal-cart__bottom-column__link {
    font-size: 14px;
    line-height: 18px;
    width: 220px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-bottom: 10px;
    padding-top: 11px;
    display: block;
    text-align: center;
}

.modal-cart__bottom-column__link--buy {
    background-color: #ffffff;
    color: black;
}

.modal-cart__bottom-column__link--buy:hover,
.modal-cart__bottom-column__link--buy:active {
    background-color: #ffffff;
}

.modal-cart__close {
    position: absolute;
    right: 9px;
    top: 9px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.modal-cart__close::before {
    content: url("../img/close.png");
}



